html, body {
	/*background: #CC9933;*/
	font-family: Arial,Helvetica,sans-serif;
	/* font-size: 90%; */
	margin: 0;
	padding: 0;
}

.toc-elements * {
	margin: 0 0 0 0;
	display:table;
	color:#0000FF;
	width:100%;
	padding-top:10px;
}


.toc-elements a {
	text-decoration: none;
	padding:5px;
	padding-bottom:10px;
}

.toc-elements p {
	font-weight:bold;
	color:#FF0000;
}


.toc-elements a:hover {
	background:#CCCCCC;
}

img {
	vertical-align:middle;
	display: block;
	margin-left: auto;
	margin-right:auto;
}

.inline-image {
	vertical-align:middle;
	display: inline;
	margin-left: 10px;
	margin-right:10px;
}


